[submodule "Wav2Lip"]
	path = Wav2Lip
	url = https://github.com/Rudrabha/Wav2Lip.git
[submodule "Real-Time-Voice-Cloning"]
	path = Real-Time-Voice-Cloning
	url = https://github.com/CorentinJ/Real-Time-Voice-Cloning.git
